<div class="center jumbotron">
  <h1>Admin Functions</h1>

  <h2>
    What would you like to do?
  </h2>

  <%= link_to "Add a Camper", campers_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "View the List of Campers", campers_all_path, class: "btn btn-lg btn-primary" %>
  <%#= link_to "Create a Schedule", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "View today's Schedule", better_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Create the next Schedule", trial_path, class: "btn btn-lg btn-primary" %>
</div>
<br />
<br />
<div class="center jumbotron">
  <h1>Irreversible actions</h1>
  
  <h2>
    What would you like to delete/reset?
  </h2>
  
  <%= link_to "Delete the list of Campers", disintigrate_path, method: :delete, class: "btn btn-lg btn-primary", style: "background-color: red !important" %>
  <%= link_to "Reset this week's Schedule", reset_path, method: :delete, class: "btn btn-lg btn-primary", style: "background-color: red !important" %>
</div>
