<% provide(:title, 'Home') %>
<div class="center jumbotron" style="background-color: pink">
  <h1>Admin Functions</h1>

  <h2>
    What would you like to do?
  </h2>

  <%= link_to "Add a Camper", campers_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "View the List of Campers", campers_all_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "View today's Schedule", better_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Create the next Schedule", trial_path, class: "btn btn-lg btn-primary" %><br /><br />
  <%= link_to "Create the next Mother/Daughter Camp Schedule", minimake_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Totals for Camptivities", camptivities_path, class: "btn btn-lg btn-primary" %>
</div>
<br />
<br />
<div class="center jumbotron" style="background-color: pink">
  <h1>Irreversible Actions</h1>
  
  <h2>
    What would you like to delete/reset?
  </h2>
  
  <%= link_to "Delete the list of Campers", disintigrate_path, method: :delete, class: "btn btn-lg btn-primary", style: "background-color: red !important" %>
  <%= link_to "Reset today's Schedule", rescind_path, method: :delete, class: "btn btn-lg btn-primary", style: "background-color: red !important" %><br /><br />
  <%= link_to "Reset the entire Schedule", reset_path, method: :delete, class: "btn btn-lg btn-primary", style: "background-color: red !important" %>
</div>
