<% provide(:title, 'Schedule') %>

<h1>Activities Schedule Slot <%= "#{Schedule.first.slot}" %></h1>


<div><b>Unassigned Campers for this Slot</b></div>
<ul class="campers">
  <% if @un.size > 0 %>
    <% @un.each do |un| %>
      <li>
        <b><%= link_to "Assign", assign_camper_path(Camper.find_by_name(un)) %></b> &nbsp; | &nbsp; 
        <%= un %>
      </li>
    <% end %>
  <% else %>
    <%= "No unassigned campers" %>
  <% end %>
</ul>

<br />
<br />


<div><b>Archery</b></div>
<ul class="campers">
  <% if !Schedule.first.isArch %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @archery.each do |archery| %>
      <li>
        <% if @archery.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(archery)) %> &nbsp; | &nbsp; 
        <% end %>
          <%= archery %> &nbsp; | &nbsp; 
          <%= Camper.find_by_name(archery).archery %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Riflery</b></div>
<ul class="campers">
  <% if !Schedule.first.isRif %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @riflery.each do |riflery| %>
      <li>
        <% if @riflery.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(riflery)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= riflery %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(riflery).riflery %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Canoeing</b></div>
<ul class="campers">
  <% if !Schedule.first.isCan %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @canoeing.each do |canoeing| %>
      <li>
        <% if @canoeing.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(canoeing)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= canoeing %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(canoeing).canoeing %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Baking</b></div>
<ul class="campers">
  <% if !Schedule.first.isBake %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @baking.each do |baking| %>
      <li>
        <% if @baking.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(baking)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= baking %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(baking).baking %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Camping</b></div>
<ul class="campers">
  <% if !Schedule.first.isCamp %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @camping.each do |camping| %>
      <li>
        <% if @camping.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(camping)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= camping %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(camping).camping %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Rock Wall</b></div>
<ul class="campers">
  <% if !Schedule.first.isRock %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @rocks.each do |rocks| %>
      <li>
        <% if @rocks.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(rocks)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= rocks %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(rocks).rocks %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Fishing</b></div>
<ul class="campers">
  <% if !Schedule.first.isFish %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @fishing.each do |fishing| %>
      <li>
        <% if @fishing.size < 3 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(fishing)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= fishing %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(fishing).fishing %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Hiking</b></div>
<ul class="campers">
  <% if !Schedule.first.isHike %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @hiking.each do |hiking| %>
      <li>
        <% if @hiking.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(hiking)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= hiking %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(hiking).hiking %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Pottery</b></div>
<ul class="campers">
  <% if !Schedule.first.isPot %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @pottery.each do |pottery| %>
      <li>
        <% if @pottery.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(pottery)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= pottery %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(pottery).pottery %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Puppets/Drama</b></div>
<ul class="campers">
  <% if !Schedule.first.isArt %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @arts.each do |arts| %>
      <li>
        <% if @arts.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(arts)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= arts %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(arts).arts %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Percussion</b></div>
<ul class="campers">
  <% if !Schedule.first.isPer %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @percussion.each do |percussion| %>
      <li>
        <% if @percussion.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(percussion)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= percussion %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(percussion).percussion %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Games</b></div>
<ul class="campers">
  <% if !Schedule.first.isGame %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @games.each do |games| %>
      <li>
        <% if @games.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(games)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= games %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(games).games %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Guitars</b></div>
<ul class="campers">
  <% if !Schedule.first.isGuit %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @guitars.each do |guitars| %>
      <li>
        <% if @guitars.size < 3 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(guitars)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= guitars %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(guitars).guitars %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Choir</b></div>
<ul class="campers">
  <% if !Schedule.first.isChoir %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @choir.each do |choir| %>
      <li>
        <% if @choir.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(choir)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= choir %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(choir).choir %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Creative Writing</b></div>
<ul class="campers">
  <% if !Schedule.first.isWrite %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @writing.each do |writing| %>
      <li>
        <% if @writing.size < 3 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(writing)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= writing %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(writing).writing %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Finger Weaving</b></div>
<ul class="campers">
  <% if !Schedule.first.isWeave %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @weaving.each do |weaving| %>
      <li>
        <% if @weaving.size < 3 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(weaving)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= weaving %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(weaving).weaving %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Interpretive Movement</b></div>
<ul class="campers">
  <% if !Schedule.first.isNotdance %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @notdance.each do |notdance| %>
      <li>
        <% if @notdance.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(notdance)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= notdance %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(notdance).notdance %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Painting</b></div>
<ul class="campers">
  <% if !Schedule.first.isPaint %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @painting.each do |painting| %>
      <li>
        <% if @painting.size < 5 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(painting)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= painting %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(painting).painting %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Sign Language</b></div>
<ul class="campers">
  <% if !Schedule.first.isSign %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @sign.each do |sign| %>
      <li>
        <% if @sign.size < 3 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(sign)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= sign %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(sign).sign %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Spanish</b></div>
<ul class="campers">
  <% if !Schedule.first.isSpan %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @spanish.each do |spanish| %>
      <li>
        <% if @spanish.size < 3 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(spanish)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= spanish %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(spanish).spanish %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Talking with Missionary</b></div>
<ul class="campers">
  <% if !Schedule.first.isTalk %>
    <li>
      Activity Off Today
    </li>
  <% else %>
    <% @talking.each do |talking| %>
      <li>
        <% if @talking.size < 2 %>
          <%= link_to "Reassign?", reassign_path(Camper.find_by_name(talking)) %> &nbsp; | &nbsp; 
        <% end %>
        <%= talking %> &nbsp; | &nbsp; 
        <%= Camper.find_by_name(talking).talking %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<br />