<% provide(:title, 'Camptivities') %>
<h1>Totals for Camptivities</h1>

<h2>Total number of campers: <%= "#{@all.size}" %></h2>

<br />

<h3>Total Campers wanting to go to Archery: <%= @archery %><br />
    Total including optional choices: <%= @arch + @archery %><br /><br />
    Total that have already attended: <%= @atArch %><hr />
    
    Total Campers wanting to go to Riflery: <%= @riflery %><br />
    Total including optional choices: <%= @rif + @riflery %><br /><br />
    Total that have already attended: <%= @atRif %><hr />
    
    Total Campers wanting to go to Canoeing: <%= @canoeing %><br />
    Total including optional choices: <%= @can + @canoeing %><br /><br />
    Total that have already attended: <%= @atCan %><hr />
    
    Total Campers wanting to go to Baking: <%= @baking %><br />
    Total including optional choices: <%= @bake + @baking %><br /><br />
    Total that have already attended: <%= @atBake %><hr />
    
    Total Campers wanting to go to Camp Out (that are old enough): <%= @camping %><br />
    Total including optional choices (that are old enough): <%= @camp + @camping %><br /><br />
    Total that have already attended: <%= @atCamp %><hr />
    
    Total Campers wanting to go to Rock Wall (that are old enough): <%= @rocks %><br />
    Total including optional choices (that are old enough): <%= @rock + @rocks %><br /><br />
    Total that have already attended: <%= @atRock %><hr />
    
    Total Campers wanting to go to Fishing: <%= @fishing %><br />
    Total including optional choices: <%= @fish + @fishing %><br /><br />
    Total that have already attended: <%= @atFish %><hr />
    
    Total Campers wanting to go to Hiking: <%= @hiking %><br />
    Total including optional choices: <%= @hike + @hiking %><br /><br />
    Total that have already attended: <%= @atHike %><hr />
    
    Total Campers wanting to go to Pottery: <%= @pottery %><br />
    Total including optional choices: <%= @pot + @pottery %><br /><br />
    Total that have already attended: <%= @atPot %><hr />
    
    Total Campers wanting to go to Puppets/Drama: <%= @arts %><br />
    Total including optional choices: <%= @art + @arts %><br /><br />
    Total that have already attended: <%= @atArt %><hr />
    
    Total Campers wanting to go to Percussion: <%= @percussion %><br />
    Total including optional choices: <%= @per + @percussion %><br /><br />
    Total that have already attended: <%= @atPer %><hr />
    
    Total Campers wanting to go to Games: <%= @games %><br />
    Total including optional choices: <%= @game + @games %><br /><br />
    Total that have already attended: <%= @atGame %><hr />
    
    Total Campers wanting to go to Guitars: <%= @guitars %><br />
    Total including optional choices: <%= @guit + @guitars %><br /><br />
    Total that have already attended: <%= @atGuit %><hr />
    
    Total Campers wanting to go to Choir: <%= @choir %><br />
    Total including optional choices: <%= @chr + @choir %><br /><br />
    Total that have already attended: <%= @atChr %><hr />
    
    Total Campers wanting to go to Creative Writing: <%= @writing %><br />
    Total including optional choices: <%= @write + @writing %><br /><br />
    Total that have already attended: <%= @atWrite %><hr />
    
    Total Campers wanting to go to Finger Weaving: <%= @weaving %><br />
    Total including optional choices: <%= @weave + @weaving %><br /><br />
    Total that have already attended: <%= @atWeave %><hr />
    
    Total Campers wanting to go to Interpretive Movement: <%= @notdance %><br />
    Total including optional choices: <%= @notd + @notdance %><br /><br />
    Total that have already attended: <%= @atNotd %><hr />
    
    Total Campers wanting to go to Painting: <%= @painting %><br />
    Total including optional choices: <%= @paint + @painting %><br /><br />
    Total that have already attended: <%= @atPaint %><hr />
    
    Total Campers wanting to go to Sign Language: <%= @sign %><br />
    Total including optional choices: <%= @signing + @sign %><br /><br />
    Total that have already attended: <%= @atSigning %><hr />
    
    Total Campers wanting to go to Spanish: <%= @spanish %><br />
    Total including optional choices: <%= @span + @spanish %><br /><br />
    Total that have already attended: <%= @atSpan %><hr />
    
    Total Campers wanting to go to Talking with Missionary: <%= @talking %><br />
    Total including optional choices: <%= @talk + @talking %><br />
    Total that have already attended: <%= @atTalk %></h3>
