<% provide(:title, 'Update Camper') %>
<h1>Update camper</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@camper) do |f| %>
      <%= render 'shared/camper_error' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <br />
      <!---<div>Please enter 1-7 based on the camptivities desired by the camper</div>--->

      <%= f.label :archery %>
      <%= f.number_field :archery, in: 1..9, class: 'form-control' %>

      <%= f.label :riflery %>
      <%= f.number_field :riflery, in: 1..9, class: 'form-control' %>
      
      <%= f.label :canoeing %>
      <%= f.number_field :canoeing, in: 1..9, class: 'form-control' %>

      <%= f.label :baking %>
      <%= f.number_field :baking, in: 1..9, class: 'form-control' %>

      <%= f.label :camping %>
      <%= f.number_field :camping, in: 1..9, class: 'form-control' %>

      <%= f.label :rock_wall %>
      <%= f.number_field :rocks, in: 1..9, class: 'form-control' %>

      <%= f.label :fishing %>
      <%= f.number_field :fishing, in: 1..9, class: 'form-control' %>

      <%= f.label :hiking %>
      <%= f.number_field :hiking, in: 1..9, class: 'form-control' %>

      <%= f.label :pottery %>
      <%= f.number_field :pottery, in: 1..9, class: 'form-control' %>

      <%= f.label :creative_arts %>
      <%= f.number_field :arts, in: 1..9, class: 'form-control' %>

      <%= f.label :percussion %>
      <%= f.number_field :percussion, in: 1..9, class: 'form-control' %>

      <%= f.label :crafts %>
      <%= f.number_field :crafts, in: 1..9, class: 'form-control' %>

      <%= f.label :games %>
      <%= f.number_field :games, in: 1..9, class: 'form-control' %>

      <%= f.label :guitars %>
      <%= f.number_field :guitars, in: 1..9, class: 'form-control' %>

      <%= f.submit "Update Camper", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>