<% provide(:title, 'Schedule') %>
<% if params[:page] %>
<h1>Activities Schedule Slot <%= "#{params[:page]}" %></h1>

<% else %>
<h1>Activities Schedule Slot 1</h1>
<% end %>

<%= will_paginate @un %>
<% if @un.first.name != "Open Slot" %>
<div><b>Unassigned Campers for this Slot also with activities they will not attend this week</b></div>
<br />
<% else %>
<div><b>There are no unassigned campers for this slot</b></div>
<br />
<br />
<% end %>
<ul class="campers">
  <% @un.each do |un| %>
    <% if un.name != "Open Slot" %>
      <li>
        <%= un.name %> &nbsp; | &nbsp;
        <% if un.archery != 9 && !un.isArch %>
          <b>Archery: <%= un.archery %></b>; 
        <% end %>
        <% if un.riflery != 9 && !un.isRif %>
          <b>Riflery: <%= un.riflery %></b>; 
        <% end %>
        <% if un.canoeing != 9 && !un.isCan %>
          <b>Canoeing: <%= un.canoeing %></b>; 
        <% end %>
        <% if un.baking != 9 && !un.isBake %>
          <b>Baking: <%= un.baking %></b>; 
        <% end %>
        <% if un.camping != 9 && !un.isCamp %>
          <b>Camping: <%= un.camping %></b>; 
        <% end %>
        <% if un.rocks != 9 && !un.isRock %>
          <b>Rocks: <%= un.rocks %></b>; 
        <% end %>
        <% if un.fishing != 9 && !un.isFish %>
          <b>Fishing: <%= un.fishing %></b>; 
        <% end %>
        <% if un.hiking != 9 && !un.isHike %>
          <b>Hiking: <%= un.hiking %></b>; 
        <% end %>
        <% if un.pottery != 9 && !un.isPot %>
          <b>Pottery: <%= un.pottery %></b>; 
        <% end %>
        <% if un.arts != 9 && !un.isArt %>
          <b>Creative Arts: <%= un.arts %></b>; 
        <% end %>
        <% if un.percussion != 9 && !un.isPer %>
          <b>Percussion: <%= un.percussion %></b>; 
        <% end %>
        <% if un.crafts != 9 && !un.isCraft %>
          <b>Crafts: <%= un.crafts %></b>; 
        <% end %>
        <% if un.games != 9 && !un.isGame %>
          <b>Games: <%= un.games %></b>; 
        <% end %>
        <% if un.guitars != 9 && !un.isGuit %>
          <b>Guitars: <%= un.guitars %></b>
        <% end %>
        <%# The next are just the activities they did not choose %>
        <% if un.archery == 9 && !un.isArch %>
          Archery: <%= un.archery %>; 
        <% end %>
        <% if un.riflery == 9 && !un.isRif %>
          Riflery: <%= un.riflery %>; 
        <% end %>
        <% if un.canoeing == 9 && !un.isCan %>
          Canoeing: <%= un.canoeing %>; 
        <% end %>
        <% if un.baking == 9 && !un.isBake %>
          Baking: <%= un.baking %>; 
        <% end %>
        <% if un.camping == 9 && !un.isCamp %>
          Camping: <%= un.camping %>; 
        <% end %>
        <% if un.rocks == 9 && !un.isRock %>
          Rocks: <%= un.rocks %>; 
        <% end %>
        <% if un.fishing == 9 && !un.isFish %>
          Fishing: <%= un.fishing %>; 
        <% end %>
        <% if un.hiking == 9 && !un.isHike %>
          Hiking: <%= un.hiking %>; 
        <% end %>
        <% if un.pottery == 9 && !un.isPot %>
          Pottery: <%= un.pottery %>; 
        <% end %>
        <% if un.arts == 9 && !un.isArt %>
          Creative Arts: <%= un.arts %>; 
        <% end %>
        <% if un.percussion == 9 && !un.isPer %>
          Percussion: <%= un.percussion %>; 
        <% end %>
        <% if un.crafts == 9 && !un.isCraft %>
          Crafts: <%= un.crafts %>; 
        <% end %>
        <% if un.games == 9 && !un.isGame %>
          Games: <%= un.games %>; 
        <% end %>
        <% if un.guitars == 9 && !un.isGuit %>
          Guitars: <%= un.guitars %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />
<br />

<%= will_paginate @un, page_links: false, class: "blank" %>

<%= will_paginate @archery, page_links: false, class: "blank" %>
<div><b>Archery</b></div>
<ul class="campers">
  <% @archery.each do |archery| %>
    <% if archery.archery != nil && archery.archery != "" && archery.archery != 9 %>
    <li>
      <%= archery.name %> &nbsp; | &nbsp; 
      <%= archery.archery %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @archery, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Riflery</b></div>
<%= will_paginate @riflery, page_links: false, class: "blank" %>
<ul class="campers">
  <% @riflery.each do |riflery| %>
    <% if riflery.riflery != nil && riflery.riflery != "" && riflery.riflery != 9 %>
    <li>
      <%= riflery.name %> &nbsp; | &nbsp; 
      <%= riflery.riflery %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @riflery, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Canoeing</b></div>
<%= will_paginate @canoeing, page_links: false, class: "blank" %>
<ul class="campers">
  <% @canoeing.each do |canoeing| %>
    <% if canoeing.canoeing != nil && canoeing.canoeing != "" && canoeing.canoeing != 9 %>
    <li>
      <%= canoeing.name %> &nbsp; | &nbsp; 
      <%= canoeing.canoeing %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @canoeing, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Baking</b></div>
<%= will_paginate @baking, page_links: false, class: "blank" %>
<ul class="campers">
  <% @baking.each do |baking| %>
    <% if baking.baking != nil && baking.baking != "" && baking.baking != 9 %>
    <li>
      <%= baking.name %> &nbsp; | &nbsp; 
      <%= baking.baking %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @baking, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Camping</b></div>
<%= will_paginate @camping, page_links: false, class: "blank" %>
<ul class="campers">
  <% @camping.each do |camping| %>
    <% if camping.camping != nil && camping.camping != "" && camping.camping != 9 %>
    <li>
      <%= camping.name %> &nbsp; | &nbsp; 
      <%= camping.camping %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @camping, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Rock Wall</b></div>
<%= will_paginate @rocks, page_links: false, class: "blank" %>
<ul class="campers">
  <% @rocks.each do |rocks| %>
    <% if rocks.rocks != nil && rocks.rocks != "" && rocks.rocks != 9 %>
    <li>
      <%= rocks.name %> &nbsp; | &nbsp; 
      <%= rocks.rocks %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @rocks, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Fishing</b></div>
<%= will_paginate @fishing, page_links: false, class: "blank" %>
<ul class="campers">
  <% @fishing.each do |fishing| %>
    <% if fishing.fishing != nil && fishing.fishing != "" && fishing.fishing != 9 %>
    <li>
      <%= fishing.name %> &nbsp; | &nbsp; 
      <%= fishing.fishing %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @fishing, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Hiking</b></div>
<%= will_paginate @hiking, page_links: false, class: "blank" %>
<ul class="campers">
  <% @hiking.each do |hiking| %>
    <% if hiking.hiking != nil && hiking.hiking != "" && hiking.hiking != 9 %>
    <li>
      <%= hiking.name %> &nbsp; | &nbsp; 
      <%= hiking.hiking %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @hiking, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Pottery</b></div>
<%= will_paginate @pottery, page_links: false, class: "blank" %>
<ul class="campers">
  <% @pottery.each do |pottery| %>
    <% if pottery.pottery != nil && pottery.pottery != "" && pottery.pottery != 9 %>
    <li>
      <%= pottery.name %> &nbsp; | &nbsp; 
      <%= pottery.pottery %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @pottery, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Creative Arts</b></div>
<%= will_paginate @arts, page_links: false, class: "blank" %>
<ul class="campers">
  <% @arts.each do |arts| %>
    <% if arts.arts != nil && arts.arts != "" && arts.arts != 9 %>
    <li>
      <%= arts.name %> &nbsp; | &nbsp; 
      <%= arts.arts %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @arts, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Percussion</b></div>
<%= will_paginate @percussion, page_links: false, class: "blank" %>
<ul class="campers">
  <% @percussion.each do |percussion| %>
    <% if percussion.percussion != nil && percussion.percussion != "" && percussion.percussion != 9 %>
    <li>
      <%= percussion.name %> &nbsp; | &nbsp; 
      <%= percussion.percussion %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @percussion, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Crafts</b></div>
<%= will_paginate @crafts, page_links: false, class: "blank" %>
<ul class="campers">
  <% @crafts.each do |crafts| %>
    <% if crafts.crafts != nil && crafts.crafts != "" && crafts.crafts != 9 %>
    <li>
      <%= crafts.name %> &nbsp; | &nbsp; 
      <%= crafts.crafts %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @crafts, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Games</b></div>
<%= will_paginate @games, page_links: false, class: "blank" %>
<ul class="campers">
  <% @games.each do |games| %>
    <% if games.games != nil && games.games != "" && games.games != 9 %>
    <li>
      <%= games.name %> &nbsp; | &nbsp; 
      <%= games.games %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @games, page_links: false, class: "blank" %>

<br />
<b><hr style="color: black !important; border: solid 1px black !important"></b>
<br />

<div><b>Guitars</b></div>
<%= will_paginate @guitars, page_links: false, class: "blank" %>
<ul class="campers">
  <% @guitars.each do |guitars| %>
    <% if guitars.guitars != nil && guitars.guitars != "" && guitars.guitars != 9 %>
    <li>
      <%= guitars.name %> &nbsp; | &nbsp; 
      <%= guitars.guitars %>
    </li>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @guitars %>
