<h1><%= @camper.name %>'s Activities</h1>

<% if @camper.archery != nil && @camper.archery != "" && @camper.archery != 9 %>
<h3><%= @camper.archery %> &nbsp; &nbsp;&nbsp;&nbsp;Archery</h3>
<% end %>

<% if @camper.riflery != nil && @camper.riflery != "" && @camper.riflery != 9 %>
<h3><%= @camper.riflery %> &nbsp; &nbsp;&nbsp;&nbsp;Riflery</h3>
<% end %>

<% if @camper.canoeing != nil && @camper.canoeing != "" && @camper.canoeing != 9 %>
<h3><%= @camper.canoeing %> &nbsp; &nbsp;&nbsp;&nbsp;Canoeing</h3>
<% end %>

<% if @camper.baking != nil && @camper.baking != "" && @camper.baking != 9 %>
<h3><%= @camper.baking %> &nbsp; &nbsp;&nbsp;&nbsp;Baking</h3>
<% end %>

<% if @camper.camping != nil && @camper.camping != ""  && @camper.camping != 9 %>
<h3><%= @camper.camping %> &nbsp; &nbsp;&nbsp;&nbsp;Camping</h3>
<% end %>

<% if @camper.rocks != nil && @camper.rocks != "" && @camper.rocks != 9 %>
<h3><%= @camper.rocks %> &nbsp; &nbsp;&nbsp;&nbsp;Rocks</h3>
<% end %>

<% if @camper.fishing != nil && @camper.fishing != "" && @camper.fishing != 9 %>
<h3><%= @camper.fishing %> &nbsp; &nbsp;&nbsp;&nbsp;Fishing</h3>
<% end %>

<% if @camper.hiking != nil && @camper.hiking != "" && @camper.hiking != 9 %>
<h3><%= @camper.hiking %> &nbsp; &nbsp;&nbsp;&nbsp;Hiking</h3>
<% end %>

<% if @camper.pottery != nil && @camper.pottery != "" && @camper.pottery != 9 %>
<h3><%= @camper.pottery %> &nbsp; &nbsp;&nbsp;&nbsp;Pottery</h3>
<% end %>

<% if @camper.arts != nil && @camper.arts != "" && @camper.arts != 9 %>
<h3><%= @camper.arts %> &nbsp; &nbsp;&nbsp;&nbsp;Arts</h3>
<% end %>

<% if @camper.percussion != nil && @camper.percussion != "" && @camper.percussion != 9 %>
<h3><%= @camper.percussion %> &nbsp; &nbsp;&nbsp;&nbsp;Percussion</h3>
<% end %>

<% if @camper.crafts != nil && @camper.crafts != ""  && @camper.crafts != 9 %>
<h3><%= @camper.crafts %> &nbsp; &nbsp;&nbsp;&nbsp;Crafts</h3>
<% end %>

<% if @camper.games != nil && @camper.games != ""  && @camper.games != 9 %>
<h3><%= @camper.games %> &nbsp; &nbsp;&nbsp;&nbsp;Games</h3>
<% end %>

<% if @camper.guitars != nil && @camper.guitars != ""  && @camper.guitars != 9 %>
<h3><%= @camper.guitars %> &nbsp; &nbsp;&nbsp;&nbsp;Guitars</h3>
<% end %>

<%= link_to "Edit", edit_camper_path(@camper), class: "btn btn-primary" %>
